<!DOCTYPE html>
<html>
  <head>
    <title>GRCA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100">
    <header style="height: 60px" class="bg-white border-b border-black">
      <nav class="container mx-auto flex items-center justify-between px-4 py-2">
        <a href="/" class="text-2xl font-bold text-yellow-400">GRCA</a>
        <ul
          class="md:flex md:items-center md:justify-between md:w-auto md:ml-auto md:border-none md:pb-0"
          id="menu">
          <li class="py-2">
            <a href="/admin" class="text-gray-600 hover:text-yellow-400">
              <span class="flex">
              Admin Portal
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
              </svg>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
